<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">VALUE</h6>
          <div class="content">
            <h5 class="card-title">$24,500 <span class="badge bg-info text-dark">+3.5%</span></h5>
            <p class="card-text"><i class="fas fa-dollar-sign"></i></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">TOTAL HOURS</h6>
          <div class="content">
            <h5 class="card-title">763.5</h5>
            <p class="card-text"><i class="fas fa-suitcase-rolling"></i></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">EXIT %</h6>
          <div class="content">
            <h5 class="card-title">35.5%</h5>
            <p class="card-text"><i class="fas fa-chart-line"></i></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" >
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">AVG. TIME</h6>
          <div class="content">
            <h5 class="card-title">2.37</h5>
            <p class="card-text"><i class="far fa-clock"></i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
